---
on: [push, pull_request]
name: Ansible Lint

permissions:
  contents: read

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv and run ansible-lint
        env:
          ANSIBLE_LIBRARY: "${GITHUB_WORKSPACE}"
        run: |
          sudo apt-get update
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv venv
          source .venv/bin/activate
          uv pip install -U ansible ansible-lint passlib
          uv pip install -U -r requirements.txt
          ansible-lint .
